.button
  padding: 13px 20px
  /** отступы для всех кнопок **/
  border: none
  /** отключаем обводку у кнопок **/
  border-radius: 2px
  /** скругление кнопки **/
  text-transform: uppercase
  /** перевод букв на заглавные **/
  &--primary
    background-color: $primary
    /** фоновый цвет кнопки **/
    color: $light
    /** цвет текста кнопки **/
