*, *:before, *:after
  box-sizing: border-box
/** для всех элементов, а также для всех псевдоэлементов before и всех псевдоэлементов after применяется правило box-sizing: border-box, это правило говорит - не нужно считать высоту с учетом внутреннего отступа (padding) **/

body
  font-family: 'Futura Book', sans-serif
  font-size: 14px
/** временные св-ва до установки шрифтов **/ 

img
  max-width: 100%
/** настройка для всех картинок которая позволяет не вываливаться картинке за пределы ее родителя **/

.section
  padding: 60px 0
  /** временный отступ **/
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    /** выровнять заголовок по центру **/
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-size: 20px
      font-weight: normal
      /** размер для per_pix **/
      line-height: 138%
      &--primary
        color: $primary
        font-size: 27px
        font-weight: normal
        font-style: normal
        letter-spacing: -0.07em
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 2px
        background-color: $primary
        margin-left: 30px
      /** оформление псевдоэлемента **/
    &__text
      font-size: 18px
      line-height: 29px
      max-width: 442px
    &__image
      display: flex
      justify-content: center
      align-items: center
      /** выравнивание псевдоэлементов **/
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    /** описание псевдоэлементов **/