.footer
  &-wrap
    background-color: $black
    max-width: 883px
    margin: auto
    padding: 35px
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 20px
    text-align: center
    margin-bottom: 45px 
  &__form
    display: flex
    flex-wrap: wrap
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 50%
    margin-bottom: 30px
    &--full-width
      flex-basis: 100%
      /** для того чтобы элемент занял всю строку **/
  &__policy
    flex-basis: 100%
    margin-bottom: 30px
  &__button
    margin: auto
      
