.header
  position: fixed
  /** при прокрутке страницы шапка будет фиксирована **/
  left: 0
  top: 0
  /** приклеим шапку к верхнему левому углу **/
  width: 100%
  /** занимает всю ширину экрана - 100% **/
  z-index: 99
  /** выносит шапку на поверность, на передний план **/
  background-color: $dark
  padding: 24px 0
  /** отступ сверху **/
.menu
  display: flex
  /** логотип, меню, номер и кнопка расползутся в одну строку **/
  justify-content: space-between
  /** элементы расположаться равномерно в границах контейнера **/
  align-items: center
  /** относительно друг друга выравниваются по центру **/
.logo
  color: $primary
  /** цвет логотипа **/
  text-transform: uppercase
  /** перевод на заглавные буквы **/
.nav
  &__item
    color: $light
    /** цвет текста **/
    text-decoration: none
    /** отключает подчеркивание **/
    text-transform: uppercase
    /** перевод на заглавные буквы **/
    margin-right: 40px
    /** отступы между элементами меню **/
    transition: color 0.2s
    /** изменение цвета при наведении будет происходить в течение 0.2 секунд **/
    &:hover
      /** псевдокласс **/
      color: $primary
      /** меняется цвет при наведении курсора на позицию меню **/

.phone
  color: $primary
  /** задаем цвет текста для телефона **/
.contacts
  &__phone
    margin-right: 45px
    /** отступ справа между номером тел и кнопкой **/
    